.hidden {
  display: none;
}
.preview {
  text-align: center;
}


.kobai li ul{
  list-style-type: none;
  display: inline-block;
}
.kaku{
  display: none;

}
@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
}










