.hidden {
  display: none;
}
.preview {
  text-align: center;
}


.kobai li ul{
  list-style-type: none;
  display: inline-block;
}
.kaku{
  display: none;

}
body {
  font-size: 16px;
}



@media (max-width: 600px) {
  body {
    font-size: 25px;
  }

  h1 {
    font-size: 2.0rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    line-height: 1.6;
  }
}
